<div class="flex relative " [routerLink]="['/adoptions', adoption.id]" >
    <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center rounded"
        src="https://placedog.net/{{adoption.id + 100}}">
    <div class="px-8 py-10 relative z-10 w-full border-1 border-gray-200 opacity-0 hover:bg-gray-100 hover:text-black hover:opacity-100">
        <div class="grid grid-cols-2 p-10 text-xs">
            <div class="font-bold">Nom :</div>
            <div>{{adoption?.animal.nom}}</div>
            <div class="font-bold">Sexe :</div>
            <div>{{adoption?.animal.sexe}}</div>
            <div class="font-bold">Espece:</div>
            <div>{{adoption?.animal.espece}}</div>           
            <div class="font-bold">Type :</div>
            <div>{{adoption?.animal.type}}</div>
            <div class="font-bold">Taille :</div>
            <div>{{adoption?.animal.taille}}</div>
            <div class="font-bold">Age :</div>
            <div>{{adoption?.animal.age}}</div>
            <div class="font-bold">Couleur :</div>
            <div> {{adoption?.animal.couleur}} </div>
        </div>
    </div>
</div>
<div class="p-5">
    <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">{{adoption.user?.address?.ville? adoption.user?.address?.ville : 'Tunis'}}</h2>
    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{adoption.title}}</h1>
    <p class="leading-relaxed h-32 overflow-y-auto text-sm">{{adoption.description}}.</p>
</div>
