<div class="border border-blue-200 rounded-lg mb-4 hover:bg-white hover:border-blue-900 h-full">

    <div class="pt-4 px-4 ">
        <div class="mr-2 flex-shrink-0">
            <img src="https://placedog.net/{{adoption.id}}" class="">
        </div>
        <div class="w-full">
            <div class="flex justify-between w-full">
                <div class="truncate">
                    <a [routerLink]="['/adoptions', adoption.id]"
                        class="font-bold text-xs hover:text-blue-500 ">{{adoption.title}}</a>
                </div>
            </div>
            <span
                class="inline-block bg-gray-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 ">#{{adoption.animal}}</span>
            <div class="text-xs truncate "> {{adoption.description}}</div>
        </div>
        <div class="flex items-center p-2 pt-4 mb-0 inline-block align-bottom">
            <a
                class="flex-1 text-gray-700 text-center rounded-lg mx-2 border border-black rounded hover:bg-gray-600 hover:text-white">
                <img src="assets/svg/icon-thumb-up.svg" class="rounded-full inline-block" />
            </a>

            <a
                class="flex-1 text-gray-700 text-center rounded-lg mx-2 border border-black rounded hover:bg-gray-600 hover:text-white">
                <img src="assets/svg/icon-comment.svg" class="rounded-full inline-block " />
            </a>

            <a [routerLink]="['/adoptions', adoption.id]"
                class="flex-1 text-gray-700 text-center rounded-lg mx-2 border border-black rounded hover:bg-gray-600 hover:text-white">
                <img src="assets/svg/icon-external-link.svg" class="rounded-full inline-block" />
            </a>
        </div>
    </div>