<div class="flex relative items-center justify-center  mt-10 mb-10">
    <div class="grid rounded-lg w-11/12 md:w-9/12 lg:w-1/2 shadow">
        <div class="flex justify-center mt-6 ">
            <div class="flex">
                <h1 class="text-gray-600 font-bold md:text-2xl text-xl">Publier une adoption</h1>
            </div>
        </div>
        <form [formGroup]="adoptionForm" (ngSubmit)="onSubmit()">
            <div class="grid grid-cols-1 mt-5 ml-10 mr-10">
                <label class="md:text-sm text-xs text-gray-500 text-light font-semibold">Titre de l'annonce</label>
                <input formControlName="title" class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" type="text" placeholder="Titre de l'annonce"
                />
                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="p-2">
                    <div *ngIf="title.errors?.required">
                        <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                    </div>
                    <div *ngIf="title.errors?.minlength">
                        <p class="text-red-500 text-xs italic">Please fill out this field with more than 5 caracters.</p>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 mt-5 ml-10 mr-10">
                <label class="md:text-sm text-xs text-gray-500 text-light font-semibold">Description</label>
                <textarea formControlName="description" class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" type="text"
                    placeholder="Description"></textarea>
                <div *ngIf="description.invalid && (description.dirty || description.touched)" class="p-2">
                    <div *ngIf="description.errors?.required">
                        <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                    </div>
                    <div *ngIf="description.errors?.minlength">
                        <p class="text-red-500 text-xs italic">Please fill out this field with more than 5 caracters.</p>
                    </div>
                </div>
            </div>
            <label class="md:text-sm text-xs text-gray-500 text-light font-semibold mt-5 ml-10 mr-10">Information sur
        l'animal</label>
            <div class="grid grid-cols-2 gap-4 ml-10 mr-10">

                <select formControlName="espece" (change)="onSelectBreed($event.target.value)" class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          <option [ngValue]="null" [disabled]="true">Espèce</option>
          <option *ngFor="let animal of animals" [value]="animal">{{animal}}
          </option>
        </select>
                <div *ngIf="espece.invalid && (espece.dirty || espece.touched)" class="p-2">
                    <div *ngIf="espece.errors?.required">
                        <p class="text-red-500 text-xs italic">Please select a breed.</p>
                    </div>
                </div>

                <select formControlName="type" class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          <option [ngValue]="null" [disabled]="true">Race</option>
          <option *ngFor="let b of breed" [value]="b">{{b}}
          </option>
        </select>

                <select formControlName="sexe" class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          <option [ngValue]="null" [disabled]="true">Sexe</option>
          <option *ngFor="let sexe of sexes" [value]="sexe">{{sexe}}
        </select>
                <div>
                    <input formControlName="nom" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" type="text"
                        placeholder="Nom" />
                    <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="p-2">

                        <div *ngIf="nom.errors?.minlength">
                            <p class="text-red-500 text-xs italic">Please fill out this field with at least 3 caracters.</p>
                        </div>
                    </div>
                </div>


                <select formControlName="couleur" class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          <option [ngValue]="null" [disabled]="true">Couleur</option>
          <option *ngFor="let c of colors" [value]="c">{{c}}
        </select>

                <div>
                    <input formControlName="age" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" type="number"
                        placeholder="Age" />
                    <div *ngIf="age.invalid && (age.dirty || age.touched)" class="p-2">
                        <div *ngIf="age.errors?.min">
                            <p class="text-red-500 text-xs italic">Age must be higher than 0.</p>
                        </div>

                    </div>
                </div>


                <select formControlName="taille" class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          <option [ngValue]="null" [disabled]="true">Taille</option>
          <option *ngFor="let t of tailles" [value]="t">{{t}}
        </select>
            </div>
            <app-image [galerie]="true" [default]="'https://via.placeholder.com/640x480?text=Image+For+adoption+NEW'" #imageComponent [model]="'ADOPTION'" [imageName]="imageName"></app-image>
            <div *ngIf="!imageComponent.image?.bytes && submitted" class="p-2">
                <p class="text-red-500 text-xs italic">Please select an image for the animal.</p>
            </div>
            <div class='flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5'>
                <a backButton class='font-bold text-white bg-gray-500 border-0 py-3 px-8 focus:outline-none hover:bg-indigo-600 rounded-lg text-lg'>Retourner</a>
                <button type="submit" class='font-bold text-white bg-blue-300 border-0 py-3 px-8 focus:outline-none hover:bg-indigo-600 rounded-lg text-lg'>Sauvegarder</button>
            </div>
        </form>
        <div *ngIf="adoption.id != null" class="grid justify-items-center mb-4">
            <hr>
            <br><button [routerLink]="['/adoptions/new']" class="place-self-center font-bold mt-2 text-white bg-green-500 border-0 py-3 px-6 focus:outline-none hover:bg-indigo-600 rounded-lg text-lg">Publier
        une nouvelle annonce</button>
        </div>
    </div>

    <img class="w-screen h-screen" id="doodle3" src="assets/svg/dog-jump.svg" alt="">
</div>