<div class="flex  items-center justify-center  mt-10 mb-10">
  <div class="grid rounded-lg bg-gray-100 w-11/12 md:w-9/12 lg:w-1/2 shadow">


    <div class="flex justify-center mt-6 ">
      <div class="flex">
        <h1 class="text-gray-600 font-bold md:text-2xl text-xl">Publier une adoption</h1>
      </div>
    </div>
    <form [formGroup]="adoptionForm" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 mt-5 ml-10 mr-10">
        <label class="md:text-sm text-xs text-gray-500 text-light font-semibold">Titre de l'annonce</label>
        <input formControlName="title"
          class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          type="text" placeholder="Titre de l'annonce" />
      </div>
      <div class="grid grid-cols-1 mt-5 ml-10 mr-10">
        <label class="md:text-sm text-xs text-gray-500 text-light font-semibold">Description</label>
        <input formControlName="description"
          class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          type="text" placeholder="Description" />
      </div>
      <label class="md:text-sm text-xs text-gray-500 text-light font-semibold mt-5 ml-10 mr-10">Information sur
        l'animal</label>
      <div class="grid grid-cols-2 gap-4 ml-10 mr-10">

        <select formControlName="espece"
          class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          <option [ngValue]="null" [disabled]="true">Espèce</option>
          <option *ngFor="let animal of animals" [value]="animal">{{animal}}
          </option>
        </select>

        <select formControlName="sexe"
          class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          <option [ngValue]="null" [disabled]="true">Sexe</option>
          <option *ngFor="let sexe of sexes" [value]="sexe">{{sexe}}
        </select>

        <input formControlName="nom"
          class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          type="text" placeholder="Nom" />

        <input formControlName="couleur"
          class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          type="text" placeholder="Couleur" />

        <input formControlName="type"
          class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          type="text" placeholder="Type" />

        <input formControlName="age"
          class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          type="number" placeholder="Age" />

        <input formControlName="taille"
          class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          type="text" placeholder="Taille" />
      </div>


      <div class="flex justify-center py-4">
        <div *ngIf="adoption.id != null" class="flex ">
          <img
            src="{{adoption.id ? 'https://placedog.net/' + (adoption.id+100) : 'https://via.placeholder.com/640x480?text=Image+For+adoption+NEW'}}"
            class="">
        </div>
      </div>
      <div class="grid grid-cols-1 mt-5 ml-10 mr-10">
        <label class="md:text-sm text-xs text-gray-500 text-light font-semibold mb-1">Importer des photos</label>
        <div class='flex items-center justify-center w-full'>
          <label
            class='flex flex-col border-4 border-dashed w-full h-32 hover:bg-gray-100 hover:border-indigo-200 group'>
            <div class='flex flex-col items-center justify-center pt-7'>
              <svg class="w-10 h-10 text-indigo-200 group-hover:text-purple-600" fill="none" stroke="currentColor"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z">
                </path>
              </svg>
              <p class='lowercase text-sm text-gray-400 group-hover:text-purple-600 pt-1 tracking-wider'>Select a photo
              </p>
            </div>
            <input type='file' class="hidden" />
          </label>
        </div>
      </div>

      <div class='flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5'>
        <a backButton
          class='font-bold text-white bg-gray-500 border-0 py-3 px-8 focus:outline-none hover:bg-indigo-600 rounded-lg text-lg'>Retourner</a>
        <button type="submit"
          class='font-bold text-white bg-blue-300 border-0 py-3 px-8 focus:outline-none hover:bg-indigo-600 rounded-lg text-lg'>Sauvegarder</button>
      </div>
    </form>
    <div *ngIf="adoption.id != null" class="grid justify-items-center mb-4">
      <hr>
      <br><button [routerLink]="['/adoptions/new']"
        class="place-self-center font-bold mt-2 text-white bg-green-500 border-0 py-3 px-6 focus:outline-none hover:bg-indigo-600 rounded-lg text-lg">Publier
        une nouvelle annonce</button>
    </div>
  </div>
</div>