<div>
    <div class="bg-gray-100 mx-auto border-gray-500 border rounded-sm text-gray-700 mb-0.5 h-30">
        <div class="flex p-3 border-l-8 border-{{getAdoptionRequestStatusColor(adoptionsRequest)}}-600" (click)="adoptionsRequest.show = !adoptionsRequest.show">
            <div class="w-1/5 space-y-1 border-r-2 pr-3">
                <div class="text-sm leading-5 font-semibold"><span class="text-xs leading-4 font-normal text-gray-500">
                        Type #</span> Adoption
                </div>
                <div class="text-sm leading-5 font-semibold"><span class="text-xs leading-4 font-normal text-gray-500 pr"> Status #</span> {{adoptionsRequest.status}}
                </div>
                <div class="text-sm leading-5 font-semibold">{{adoptionsRequest.createdAt | date:'dd/MM/yyyy'}}
                </div>
            </div>
            <div class="flex-1">
                <div class="ml-3 space-y-1 border-r-2 pr-3">
                    <div class="text-sm leading-4 font-normal overflow-y-hidden"><span class="text-xs leading-4 font-normal text-gray-500">
                        Titre: </span> {{adoptionsRequest.adoption.title}}</div>
                    <div class="text-sm leading-4 font-normal overflow-y-hidden"><span class="text-xs leading-4 font-normal text-gray-500">
                            Description: </span> {{adoptionsRequest.adoption.description}}</div>
                </div>
            </div>
            <div class="border-r-2 pr-3">
                <div>
                    <div class="ml-3 my-3 border-gray-200 border-2 bg-gray-300 p-1">
                        <img alt="gallery" class="w-12 h-12 object-cover object-center rounded" [src]="getUserImage(adoptionsRequest)">
                    </div>
                </div>
            </div>
            <div>
                <div class="ml-3 my-5 bg-{{getAdoptionRequestStatusColor(adoptionsRequest)}}-600 p-1 w-20">
                    <div class="uppercase text-xs leading-4 font-semibold text-center text-{{getAdoptionRequestStatusColor(adoptionsRequest)}}-100">
                        {{adoptionsRequest.status}}</div>
                </div>
            </div>
            <div>
                <button class="text-gray-100 rounded-sm my-5 ml-2 focus:outline-none bg-gray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="w-1/2 mx-auto pb-2" *ngIf="adoptionsRequest.show">
            <div class="flex w-full mb-2">
                <button (click)="showInput = true" *ngIf="!adoptionsRequest.hasTestamony && adoptionsRequest.status == 'ACCEPTED'" class="font-bold w-1/2 mx-auto mt-2 text-white bg-green-700 border-0 py-1  focus:outline-none 
                hover:bg-yellow-900 hover:shadow-lg rounded-lg text-sm  mx-auto">Ajouter un témoignage</button>
            </div>
            <div *ngIf="showInput" class="bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 shadow mb-2">
                <div class="relative">
                    <textarea [(ngModel)]="temoignagebody" placeholder="Ajouter un Témoignage.." class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                </div>
                <button (click)="temoignage()" class="mt-3 text-white bg-blue-300 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Envoyer</button>
                <button (click)="showInput = false" class="place-self-center mt-3 text-white bg-gray-400 border-0 py-1 px-2 focus:outline-none hover:bg-gray-600 rounded-lg text-sm font-bold">Annuler</button>
            </div>
            <app-adoption [adoption]="adoptionsRequest.adoption">
            </app-adoption>

            <div *ngIf="!showTemoignage" class="flex mx-auto text-sm">
                <button (click)="cancelAdoptionRequest(adoptionsRequest)" *ngIf="adoptionsRequest.status=='CREATED'" class="font-bold w-1/4 mx-auto  mt-2 text-white bg-Red-500 border-0 py-1  focus:outline-none 
                    hover:bg-red-900 hover:shadow-lg rounded-lg">Cancel</button>
                <button (click)="reopenAdoptionRequest(adoptionsRequest)" *ngIf="adoptionsRequest.status=='REJECTED' || adoptionsRequest.status=='CANCELED'" class="font-bold w-1/4 mx-auto mt-2 text-white bg-green-500 border-0 py-1  focus:outline-none 
                    hover:bg-green-900 hover:shadow-lg rounded-lg">Reopen</button>
            </div>
        </div>
    </div>
</div>