<div class="grid grid-cols-6 gap-2 justify-items-center">
    <div class="col-span-1">
        <app-filter (newQueryEvent)="queryResult($event)"></app-filter>
        <br><button [routerLink]="['new']"
            class="ml-8 place-self-center font-bold mt-2 text-white bg-blue-300 border-0 py-3 px-6 focus:outline-none hover:bg-indigo-600 rounded-lg text-xs">Publier
            une nouvelle adoption</button>
    </div>

    <div class="col-span-4 container p-10">
        <div class="grid grid-cols-4 gap-4 ">
            <app-adoption *ngFor="let adoption of adoptions" [adoption]="adoption">
            </app-adoption>
        </div>
        <div class="flex items-center mx-auto">
            <button
                class="flex-1 text-gray-700 text-center rounded-lg bg-white border border-black rounded hover:bg-gray-600 hover:text-white"
                (click)="previous()" [disabled]="cantPrevious()">previous</button>
            <button
                class="flex-1 text-gray-700 text-center rounded-lg bg-white border border-black rounded hover:bg-gray-600 hover:text-white"
                (click)="next()" [disabled]="cantNext()">next</button>
        </div>
    </div>
    <div class="col-span-1">
        <app-ads></app-ads>
    </div>
</div>