<div class="grid justify-items-stretch">
    <div class="justify-self-center"><a [routerLink]="['new']"
            class="py-2 px-3 mt-4 px-6 text-red bg-cyan-900 rounded">Post a new
            adoption</a></div>
</div>
<div class="grid grid-cols-6 gap-2">
    <div class="col-span-1">
        <app-filter></app-filter>
    </div>
    <div class="col-span-4 container p-10">
        <div class="grid grid-cols-4 gap-4">
            <app-adoption *ngFor="let adoption of adoptions" [adoption]="adoption">
            </app-adoption>
        </div>
        <div class="flex space-x-4 grid grid-cols-6 inline-block ">
            <button class="col-span-2 py-2 px-3 mt-4 px-6 text-white bg-gray-500 inline-block rounded"
                (click)="previous()" [disabled]="cantPrevious()">previous</button>
            <button class="col-span-2 py-2 px-3 mt-4 px-6 text-white bg-gray-500 inline-block rounded"
                (click)="next()" [disabled]="cantNext()">next</button>
        </div>
    </div>
    <div class="col-span-1">
        <app-ads></app-ads>
    </div>
</div>