<div class="p-3" style="height: 32rem;">
    <div class="p-2 m-1">
        <div class="flex items-center justify-between ">
            <textarea [ngClass]="{'animate-pulse rounded-full': toSend.length==0}" [(ngModel)]="toSend"
                class="w-full rounded-lg text-sm font-semibold focus:outline-none focus:border-none px-2 bg-gray-300"></textarea>
            <button class="bg-blue-600 py-1 px-2 m-2 rounded text-white text-sm font-bold" [disabled]="toSend.length==0"
                (click)="sendMessage()">Envoyer</button>
        </div>
    </div>
    <div class="overflow-y-auto hide-scroll overscroll-none" style="height: 32rem;">
        <article class="m-1" *ngFor="let message of messages">
            <div *ngIf="currentUser?.email!=message?.fromUser">
                <div class="flex w-full pt-2" *ngIf="showMessageDate(message , messages)">
                    <span title="{{getFormatedDate(message.createdAt)}}"
                        class="mx-auto font-normal text-xs text-gray-600 ">{{getHumanDate(message.createdAt)}}</span>
                </div>
                <div class="relative flex px-2" [ngClass]="{'pt-2': showMessageDate(message , messages)}">
                    <div class="w-10">
                        <img class="absolute bottom-0 h-8 w-8 rounded-full object-cover"
                            title="{{getUser(message?.fromUser)?.firstName}} {{getUser(message?.fromUser)?.lastName}}"
                            [src]="getUserImage(getUser(message?.fromUser))?.bytes ? getUserImage(getUser(message?.fromUser))?.bytes : 'https://www.w3schools.com/howto/img_avatar.png'">
                    </div>
                    <div title="{{getFormatedDate(message.createdAt)}}"
                        class="max-w-xs bg-gray-300 rounded-lg py-3 px-6  pl-4">
                        <p class="text-sm font-semibold break-words">{{message?.body}}</p>
                    </div>
                </div>
            </div>
            <div *ngIf="currentUser?.email==message?.fromUser">
                <div class="flex w-full pt-2" *ngIf="showMessageDate(message , messages)">
                    <span title="{{getFormatedDate(message.createdAt)}}"
                        class="mx-auto font-normal text-xs text-gray-600 ">{{getHumanDate(message.createdAt)}}</span>
                </div>
                <div class="relative flex flex-row-reverse" [ngClass]="{'pt-2': showMessageDate(message , messages)}">
                    <div class="w-10">
                        <img class="absolute bottom-0 h-8 w-8 rounded-full object-cover"
                            title="{{currentUser?.firstName}} {{currentUser?.lastName}}"
                            [src]="getUserImage(currentUser)?.bytes ? getUserImage(currentUser)?.bytes : 'https://www.w3schools.com/howto/img_avatar.png'">
                    </div>
                    <div title="{{getFormatedDate(message.createdAt)}}"
                        class="max-w-xs text-white bg-blue-600 rounded-lg py-3 px-6 pr-4 mr-2">
                        <p class="text-sm font-semibold break-words">{{message?.body}}</p>
                    </div>
                </div>
            </div>
        </article>
        <div class="flex justify-center sticky bottom-0" *ngIf="messages.length>6">
            <svg class="animate-bounce w-3 h-3 text-amber-900" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
            </svg>
        </div>
    </div>

</div>