<div class="m-10 p-10 container">
    <img src="https://via.placeholder.com/640x480?text=Image+For+adoption+{{adoption.id}}" class="">
    <div class="p-5">
        <h1 class="text-2xl font-bold text-gray-800 py-2">{{adoption.title}}</h1>
        <p class="bg-white text-sm text-black">>{{adoption.animal}}</p>
        <p class="bg-white text-sm text-black">>{{adoption.description}}</p>
        <p class="bg-white text-sm text-black">>{{adoption.id}}</p>
        <p class="bg-white text-sm text-black">>{{adoption.createdAt}}</p>
        <p class="bg-white text-sm text-black">>{{adoption.createdBy}}</p>

    </div>

    

    <div class="flex items-center p-2 pt-4">
        <a [routerLink]="['/adoptions', adoption.id , 'edit']"
            class="flex-1 text-gray-700 text-center rounded-lg mx-2 border border-black rounded hover:bg-gray-600 hover:text-white">
            <img src="assets/svg/icon-edit.svg" alt class="rounded-full inline-block" />
            <p class="inline-block">edit</p>
        </a>

        <a (click)="delete(adoption.id)"
            class="flex-1 text-gray-700 text-center rounded-lg mx-2 border border-black rounded hover:bg-gray-600 hover:text-white">
            <img src="assets/svg/icon-trash.svg" alt class="rounded-full inline-block" />
            <p class="inline-block">delete</p>
        </a>

        <a [routerLink]="['/adoptions', adoption.id]"
            class="flex-1 text-gray-700 text-center rounded-lg mx-2 border border-black rounded hover:bg-gray-600 hover:text-white">
            <img src="assets/svg/icon-comment.svg" alt class="rounded-full inline-block" />
            <p class="inline-block">comment</p>
        </a>
    </div>
</div>