<div class="m-10 p-10 container">
    <img src="https://via.placeholder.com/640x480?text=Image+For+adoption+{{adoption.id}}" class="">
    <div class="p-5">
        <h1 class="text-2xl font-bold text-gray-800 py-2">{{adoption.title}}</h1>
        <p class="bg-white text-sm text-black">>{{adoption.animal}}</p>
        <p class="bg-white text-sm text-black">>{{adoption.description}}</p>
        <p class="bg-white text-sm text-black">>{{adoption.id}}</p>
        <p class="bg-white text-sm text-black">>{{adoption.createdAt}}</p>
        <p class="bg-white text-sm text-black">>{{adoption.createdBy}}</p>

    </div>
    <a [routerLink]="['/adoptions', adoption.id , 'edit']"
        class="py-2 px-3 mt-4 px-6 text-white bg-gray-500 inline-block rounded">Edit</a>
    <button (click)="delete(adoption.id)"
        class="py-2 px-3 mt-4 px-6 text-white bg-gray-500 inline-block rounded">Delete</button>
</div>