<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <a href="/" class="flex title-font font-medium items-center md:justify-start justify-center text-black">
        <img src="assets/images/petAddict.png" class="h-20 w-20" />
        <span class="ml-3 text-6xl text-gray-800">PetAddict</span>
      </a>
      <h1 class="title-font font-medium text-4xl text-gray-900">Trouvez l'animal qui vous attend.</h1>
    </div>
    <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <h2 *ngIf="!isSuccessful" class="text-gray-900 text-lg font-medium title-font mb-5">Créer un compte</h2>
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="relative mb-1">
          <label for="email" class="leading-7 text-sm text-gray-600">Adresse e-mail</label>
          <input type="email" id="email" name="email" [(ngModel)]="form.email" required #email="ngModel" email
            class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
        <div class="relative mb-4">
          <label for="password" class="leading-7 text-sm text-gray-600">Mot de passe</label>
          <input type="password" id="new-password" name="new-password" [(ngModel)]="form.password" required
            #password="ngModel" autocomplete="off" minlength="4"
            class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mb-4">
          <label for="password" class="leading-7 text-sm text-gray-600">Confirmer le mot de passe</label>
          <input type="password" minlength="4" name="password-confirmation" id="password-confirmation"
            autocomplete="off" [(ngModel)]="form.confirmpassword" required
            class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
        <button
          class="w-full font-bold text-white bg-green-500 border-0 py-3 px-8 focus:outline-none hover:bg-indigo-600 rounded-lg text-lg">S'inscrire</button>
        <div class="alert alert-warning text-red-500 font-bold text-sm" *ngIf="f.submitted && isSignUpFailed">
          <p >{{ errorMessage.includes('Duplicate entry') ? 'L\'adresse e-mail utlisée est liée à un autre compte.' : errorMessage}}</p>
        </div>
      </form>
      <div class="alert alert-success place-self-center" *ngIf="isSuccessful">
        Votre compte a été créé,<br/><b>please verify your Email</b> !
      </div>
      <div class="mt-2 grid justify-items-center">
        <hr>
        <br>
        <p *ngIf="!isSuccessful" class="text-xs text-gray-500 mt-3"><a href="/">Vous avez déja un compte ?</a></p>
        <button [routerLink]="['/login']"
          class="place-self-center font-bold mt-2 text-white bg-blue-300 border-0 py-3 px-6 focus:outline-none hover:bg-indigo-600 rounded-lg text-lg">Connexion</button>
      </div>
    </div>
  </div>
</section>