<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>


<div class="flex justify-center">

    <div class="relative">
        <span class="absolute flex h-3 w-3" *ngIf="unreadNotif > 0 ">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"></span>
        </span>
        <button (click)="showNotifs()" class="relative z-10 block rounded-md p-2 focus:outline-none ">
            <svg class="h-5 w-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path
                    d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
            </svg>
        </button>


        <div *ngIf="dropdownOpen"
            class="absolute right-0 mt-2 bg-white rounded-md shadow-lg overflow-hidden overflow-y-auto z-20 h-56 "
            [ngClass]="{'z-auto h-auto w-auto': notifications.length == 0}" style="width:20rem;">
            <div class="py-2">
                <p *ngIf="notifications.length == 0" class="text-gray-600 text-sm mx-2">Vous n'avez pas de
                    notifications.</p>
                <a *ngFor="let notification of notifications" [routerLink]="[notification.route.split('#')[0]]"
                    [queryParams]="{section: notification.route.split('#')[1] , id: notification.route.split('#')[2] , u: notification.route.split('#')[3]}"
                    class="flex items-center px-4 py-3 border-b hover:bg-gray-100 -mx-2">
                    <img class="h-8 w-12 rounded-full object-cover mx-1" [src]="getUserImage(notification.fromUser) "
                        alt="avatar">
                    <p class="text-gray-600 text-sm mx-2">
                        <span class="font-bold" href="#">
                            {{getFromUser(notification.fromUser)}}</span>
                        {{notification.body}}.
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>