<div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
    <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 ">
        <div class="mb-4">
            <h1 class="text-grey-darkest">Liste des associations</h1>
            <div class="flex mt-4">
                <input (keyup)="fetch()" [(ngModel)]="keyword" class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker" placeholder="Chercher ...">
                <button class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"/></svg>
                </button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of asso" class="flex mb-4 items-center">
                <p class="w-full text-grey-darkest">{{item.title}}</p>
                <button class=" tooltip update flex-no-shrink p-2 ml-4 mr-2 border-2 rounded hover:text-white text-green border-green hover:bg-green " (click)="modifier(item)">
                    <span class="tooltiptext">Modifier</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M6.3 12.3l10-10a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.4l-10 10a1 1 0 0 1-.7.3H7a1 1 0 0 1-1-1v-4a1 1 0 0 1 .3-.7zM8 16h2.59l9-9L17 4.41l-9 9V16zm10-2a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2h6a1 1 0 0 1 0 2H4v14h14v-6z"/></svg>
                    </button>
                <button class="tooltip2 remove flex-no-shrink p-2 ml-2 border-2 rounded text-red border-red hover:text-white hover:bg-red" (click)="supprimer(item)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M8 6V4c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V8H3a1 1 0 1 1 0-2h5zM6 8v12h12V8H6zm8-2V4h-4v2h4zm-4 4a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1z"/></svg>
                    <span class="tooltiptext2">Supprimer</span>
                </button>
            </div>

        </div>
    </div>
</div>
<div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
    <button class="tooltip3 add flex-no-shrink p-2 ml-2 border-2 rounded text-red border-red hover:text-white hover:bg-red" (click)="showForm()">
        <span class="tooltiptext3">Ajouter</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-9h2a1 1 0 0 1 0 2h-2v2a1 1 0 0 1-2 0v-2H9a1 1 0 0 1 0-2h2V9a1 1 0 0 1 2 0v2z"/></svg>
        </button>

</div>
<!------------------------------------------------------------->
<div id="formm" class="flex  items-center justify-center  mt-10 mb-10" style="visibility: hidden;">
    <div class="grid rounded-lg bg-gray-100 w-11/12 md:w-9/12 lg:w-1/2 shadow">
        <div class="flex justify-center mt-6 ">
            <div class="flex">
                <h1 class="text-gray-600 font-bold md:text-2xl text-xl">Ajouter une association </h1>
            </div>
        </div>
        <form [formGroup]="associationForm" (ngSubmit)="onSubmit()">
            <div class="grid grid-cols-1 mt-5 ml-10 mr-10">
                <label class="md:text-sm text-xs text-gray-500 text-light font-semibold">Nom de l'association</label>

                <input formControlName="title" class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" type="text" placeholder="Nom de l'association"
                />
            </div>
            <div class="grid grid-cols-1 mt-5 ml-10 mr-10">
                <label class="md:text-sm text-xs text-gray-500 text-light font-semibold">Description</label>
                <textarea formControlName="description" class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" type="text"
                    placeholder="Description"></textarea>
            </div>
            <div class="grid grid-cols-1 mt-5 ml-10 mr-10">
                <label class="md:text-sm text-xs text-gray-500 text-light font-semibold">Adresse</label>
                <textarea formControlName="adresse" class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" type="text"
                    placeholder="Adresse"></textarea>
            </div>
            <div class="grid grid-cols-1 mt-5 ml-10 mr-10">
                <label class="md:text-sm text-xs text-gray-500 text-light font-semibold">Telephone</label>
                <input formControlName="phone" class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" type="number"
                    placeholder="Telephone" />
            </div>
            <app-image-admin [galerie]="true" [default]="'https://via.placeholder.com/640x480?text=Image+For+association+NEW'" #imageComponent [model]="'ASSOCIATION'" [imageName]="imageName"></app-image-admin>




            <div class='flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5'>
                <button type="submit" class='font-bold text-white bg-blue-300 border-0 py-3 px-8 focus:outline-none hover:bg-indigo-600 rounded-lg text-lg'>Sauvegarder</button>
            </div>

        </form>


    </div>
</div>
<!--------------------------------------------- pagination------------------------------------>
<!--pagination-->
<div class="px-4 py-5 flex items-center justify-between border-t border-gray-200 sm:px-6" *ngIf="count > 0 ">
    <div class="flex-1 flex justify-between sm:hidden">
        <button (click)="previous()" [disabled]="cantPrevious()" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
        Previous
      </button>
        <button (click)="next()" [disabled]="cantNext()" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
        Next
      </button>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div class="">
            <p class="text-xs font-bold text-black">
                Affichage de
                <span class="font-medium">{{(page - 1) * size + 1}}</span> à
                <span class="font-medium">{{page * size > count ? count : page * size}}</span> sur
                <span class="font-medium">{{count}}</span> résultats trouvés
            </p>
        </div>
        <div class="cursor-pointer">
            <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                <a (click)="previous()" class="text-xs font-semibold flex w-8 h-8 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-blueGray-200 text-black bg-blueGray-200">
            &lt;
          </a>
                <a *ngFor="let i of pages" (click)="setPage(i)" paginationButton [page]="i">{{i.number}}</a>

                <a (click)="next()" class="text-xs font-semibold flex w-8 h-8 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-blueGray-200 text-black bg-blueGray-200">
            &gt;
          </a>
            </nav>
        </div>
    </div>
</div>