.limitTextHeight {
  height: 20px;
  overflow: hidden;
}

.bt:hover {
  background-color: #e53e3e;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  
}
.bt{
  padding: 3px 5px;
}
svg{
  margin-right: 20px;
}