<div class="border border-blue-200 rounded-lg mb-4 hover:bg-white hover:border-blue-900">

    <div class="pt-4 px-4">
        <div class="mr-2 flex-shrink-0">
            <img src="https://www.hainesroadanimalhospital.com/sites/default/files/JV.jpg
            " class="">
        </div>
        <div class="w-full">
            <div class="flex justify-between w-full">
                <div class="flex">
                    <a class="font-bold text-xs hover:text-blue-500">Clinique Vétérinaire Bardo</a>
                </div>
            </div>
            <br />
        </div>
        <div class="flex items-center p-2 pt-4">

            <a
                class="flex-1 text-gray-700 text-center rounded-lg mx-2 border border-black rounded hover:bg-gray-600 hover:text-white">
                <img src="assets/svg/icon-external-link.svg" class="rounded-full inline-block" />
            </a>
        </div>
    </div>
</div>

<div class="border border-blue-200 rounded-lg mb-4 hover:bg-white hover:border-blue-900">

    <div class="pt-4 px-4">
        <div class="mr-2 flex-shrink-0">
            <img src="https://lh3.googleusercontent.com/proxy/iaoKQaYePu6qrMDd6oH6JmKYlNW4Qr1g-myhGIxHJcV1rD03Nm7x1sNq-s2X1ZMtGi22uIGNGcfzv-znaBdrVCP_aczfNUO8-8s0G7TYs0DNo-8gPLJL7qI9qMNYejdUi6gfqNZuDYlqRMVqm4XGksd5"
                class="">
        </div>
        <div class="w-full">
            <div class="flex justify-between w-full">
                <div class="flex">
                    <a class="font-bold text-xs hover:text-blue-500">Association protection des animaux de Tunisie
                        (PAT)</a>
                </div>
            </div>
            <br />
        </div>
        <div class="flex items-center p-2 pt-4">

            <a
                class="flex-1 text-gray-700 text-center rounded-lg mx-2 border border-black rounded hover:bg-gray-600 hover:text-white">
                <img src="assets/svg/icon-external-link.svg" class="rounded-full inline-block" />
            </a>
        </div>
    </div>
</div>
<div class="border border-blue-200 rounded-lg mb-4 hover:bg-white hover:border-blue-900">

    <div class="pt-4 px-4">
        <div class="mr-2 flex-shrink-0">
            <img src="https://www.usnews.com/dims4/USNEWS/1afb8f1/2147483647/crop/2000x1313%2B0%2B0/resize/640x420/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2F75%2F77%2F28b9c03949ceb1e855bfa2b78c46%2F200109-veterinarian-stock.jpg"
                class="">
        </div>
        <div class="w-full">
            <div class="flex justify-between w-full">
                <div class="flex">
                    <a class="font-bold text-xs hover:text-blue-500">Clinique Vétérinaire El Amen Dr Hanen DRISS</a>
                </div>
            </div>
            <br />
        </div>
        <div class="flex items-center p-2 pt-4">

            <a
                class="flex-1 text-gray-700 text-center rounded-lg mx-2 border border-black rounded hover:bg-gray-600 hover:text-white">
                <img src="assets/svg/icon-external-link.svg" class="rounded-full inline-block" />
            </a>
        </div>
    </div>
</div>