<div *ngIf="type != 'adoptions'">
    <div class="rounded-lg hover:bg-white hover:border-blue-900 shadow-xl hover:shadow-3xl p-2 pt-2">
        <div class="flex items-center">
            <img src="https://www.hainesroadanimalhospital.com/sites/default/files/JV.jpg"
                class="flex-1 rounded rounded-lg">
        </div>
        <a class="font-bold text-xs hover:text-blue-500">Clinique Vétérinaire Bardo</a>
    </div>

    <div class="rounded-lg hover:bg-white hover:border-blue-900 shadow-xl hover:shadow-3xl p-2 pt-2">
        <div class="flex items-center">
            <img src="https://www.usnews.com/dims4/USNEWS/1afb8f1/2147483647/crop/2000x1313%2B0%2B0/resize/640x420/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2F75%2F77%2F28b9c03949ceb1e855bfa2b78c46%2F200109-veterinarian-stock.jpg"
                class="flex-1 rounded rounded-lg">
        </div>
        <a class="font-bold text-xs hover:text-blue-500">Association protection des animaux de Tunisie</a>
    </div>

    <div class="rounded-lg hover:bg-white hover:border-blue-900 shadow-xl hover:shadow-3xl p-2 pt-2">
        <div class="flex items-center">
            <img src="https://www.usnews.com/dims4/USNEWS/1afb8f1/2147483647/crop/2000x1313%2B0%2B0/resize/640x420/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2F75%2F77%2F28b9c03949ceb1e855bfa2b78c46%2F200109-veterinarian-stock.jpg"
                class="flex-1 rounded rounded-lg">
        </div>
        <a class="font-bold text-xs hover:text-blue-500">Clinique Vétérinaire El Amen Dr Hanen DRISS</a>
    </div>
</div>
<div *ngIf="type == 'adoptions'">
    <div *ngFor="let adoption of adoptions">
        <div class="rounded-lg hover:bg-white hover:border-blue-900 shadow-xl hover:shadow-3xl p-2 pt-2"
            [routerLink]="['/adoptions', adoption.id]">
            <div class="flex items-center">
                <img src="https://placedog.net/{{adoption.id + 100}}" class="flex-1 rounded rounded-lg">
            </div>
            <div class="grid grid-cols-4 p-1 text-xs">
                <div class="font-bold">Espece:</div>
                <div class="ml-2">{{adoption?.animal.espece}}</div>
                <div class="font-bold">Race :</div>
                <div class="ml-2">{{adoption?.animal.type}}</div>
                <div class="font-bold">Sexe :</div>
                <div class="ml-2">{{adoption?.animal.sexe}}</div>
                <div class="font-bold">Taille :</div>
                <div class="ml-2">{{adoption?.animal.taille}}</div>
                <div class="font-bold">Age :</div>
                <div class="ml-2">{{adoption?.animal.age}}</div>
                <div class="font-bold">Couleur :</div>
                <div class="ml-2"> {{adoption?.animal.couleur}} </div>
            </div>
        </div>
    </div>
</div>