<nav class="bg-blue-400">
    <div class="container mx-auto grid grid-flow-col grid-rows-1 grid-cols-12 gap-3">
    <div class="row-start-1 col-start-1 col-span-1 flex">
            <a class="mx-auto my-3 font-bold tracking-wide lg:text-xl text-black no-underline hover:border-white hover:text-white hover:bg-light"
                href="/">
                <span class="hidden sm:inline-block">PetAddict</span>
            </a>
        </div>
    <div class="row-start-1 col-span-3 col-start-10 flex">
            <a [routerLink]="['adoptions']"
                class="mx-auto my-3  whitespace-no-wrap uppercase text-sm border border-light rounded-lg px-4 py-2 text-black hover:border-white hover:text-white  font-medium no-underline">Adoptions</a>
            <a *ngIf="!isLoggedIn" class="mx-auto my-3 whitespace-no-wrap uppercase text-sm border border-light rounded-lg px-4 py-2 text-black hover:border-white hover:text-white  font-medium no-underline"
                routerLink="login">Sign-In</a>
            <a *ngIf="!isLoggedIn" class="mx-auto my-3 whitespace-no-wrap uppercase text-sm border border-light rounded-lg px-4 py-2 text-black hover:border-white hover:text-white  font-medium no-underline"
            routerLink="register">Sign-Up</a>
                <a *ngIf="isLoggedIn" class="mx-auto my-3 whitespace-no-wrap uppercase text-sm border border-light rounded-lg px-4 py-2 text-black hover:border-white hover:text-white  font-medium no-underline"
                href="#">{{ username }}</a>
            <div *ngIf="isLoggedIn" class="mx-auto my-3 whitespace-no-wrap uppercase text-sm border border-light rounded-lg px-4 py-2 text-black hover:border-white hover:text-white  font-medium no-underline"
                (click)="logout()">LogOut</div>
    </div>
    </div>
</nav>