<div #navbar class="navbar container m-auto fixed right-0 left-0 top-1 z-50 bg-white px-5 mt-5 rounded-lg">
    <nav class=" m-auto flex">
        <div class="mr-auto flex">
            <a [routerLink]="['/']" routerLinkActive="router-link-active" class="flex title-font font-medium items-center md:justify-start justify-center text-black">
                <img src="assets/images/petAddict.png" class="h-10 w-10" />
                <span class="ml-3 text-xl text-gray-800">PetAddict</span>
            </a>

        </div>
        <div class="mx-auto flex"> 
            <a [routerLink]="['adoptions']" class="col-span-1 my-auto  whitespace-no-wrap uppercase text-gray-800 text-sm px-4 py-2 text-black hover:bg-red-600 hover:text-white rounded-lg  font-medium no-underline">Adoptions</a>
            <div class=" relative col-span-1  my-auto px-4 py-2 hover:bg-red-600 hover:text-white" (mouseenter)="showLostAndFound = true" (mouseleave)="showLostAndFound = false" >
                <a  class="my-auto  whitespace-no-wrap uppercase text-gray-800 text-sm  text-black  rounded-lg  font-medium no-underline">Lost & Found
                </a>
                <div class="mx-auto w-full  mt-2 absolute flex flex-wrap  bg-white" *ngIf="showLostAndFound" style="right: -2px;">
                    <!-- width:inherit; height:inherit; margin-right: inherit; margin-left: inherit; padding-right: inherit; padding-left: inherit; right: -2px; -->
                    <div class="flex  mt-5  my-auto w-full ">
                        <div class="mx-auto">
                            <a  [routerLink]="['losts']" class="  uppercase text-gray-800 text-sm  text-black  rounded-lg  font-medium no-underline">Lost
                            </a>
                        </div>
                        
                    </div>
                    
                    <div class="flex mt-5 mb-5 my-auto w-full  ">
                        <div class="mx-auto">
                            <a  [routerLink]="['founds']" class="  uppercase text-gray-800 text-sm  text-black  rounded-lg  font-medium no-underline">Found
                            </a> 
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <a [routerLink]="['associations']" class="col-span-1 my-auto  whitespace-no-wrap uppercase text-gray-800 text-sm px-4 py-2 text-black hover:bg-red-600 hover:text-white rounded-lg  font-medium no-underline">Associations</a>
           
            
            <a [routerLink]="['vetos']" class="col-span-1 my-auto  whitespace-no-wrap uppercase text-gray-800 text-sm px-4 py-2 text-black hover:bg-red-600 hover:text-white rounded-lg  font-medium no-underline">Vétérinaires</a>
            
            <a [routerLink]="['posts']" class="col-span-1 my-auto  whitespace-no-wrap uppercase text-gray-800 text-sm px-4 py-2 text-black hover:bg-red-600 hover:text-white rounded-lg  font-medium no-underline">Blog</a>

        </div>

        <div class="ml-auto flex ">
            <a *ngIf="!isLoggedIn" class="col-start-11 col-span-1 my-4 whitespace-no-wrap uppercase text-gray-800 text-sm border border-light rounded-lg px-2 py-2 mx-1  text-black hover:border-black hover:text-black font-medium no-underline" routerLink="login">Sign-In</a>
            <a *ngIf="!isLoggedIn" class="col-span-1 my-4 whitespace-no-wrap uppercase text-gray-800 text-sm border border-light rounded-lg px-4 py-2 mx-1  text-black hover:border-black hover:text-black font-medium no-underline" routerLink="register">Sign-Up</a>
            <div *ngIf="isLoggedIn" [routerLink]="['user_profile']" class="col-span-3 flex items-center  border border-light rounded-lg  my-4 mx-2 uppercase text-sm px-2 
                text-gray-800 hover:border-black hover:text-black font-medium ">
                <div> <img [src]="image?.bytes ? image.bytes : 'https://www.w3schools.com/howto/img_avatar.png'" class="w-8 h-8 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" />
                </div>
                <div class="flex-grow">
                    <a class="flex-1/2">{{user?.firstName != null ? user?.firstName + ' ' + user?.lastName :
                    user?.username}}</a>
                </div>
            </div>
            <app-notification [currentUserName]="userName" [notifications]='notifications' *ngIf="isLoggedIn" class="col-span-1 border border-light rounded-lg  my-4 mx-1 text-sm px-2 py-1 hover:border-black ">
            </app-notification>
            <div [routerLink]="['user_profile']" [queryParams]="{section: 'inbox'}" (click)="resetUM()" *ngIf="isLoggedIn" class="col-span-1 border border-light rounded-lg  my-4 mx-1 text-sm px-2 py-1 hover:border-black ">
                <span class="absolute flex h-3 w-3" *ngIf="unreadMessages">
                    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"></span>
                <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"></span>
                </span>
                <button class="relative z-10 block rounded-md p-2 focus:outline-none ">
                              <svg  class="h-5 w-5 text-gray-800"  fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"></path></svg>
    
                </button>
            </div>
            <div *ngIf="isLoggedIn" class="flex col-span-1 my-4 whitespace-no-wrap uppercase text-sm border border-light rounded-lg px-4 py-2 text-white hover:border-black bg-red-600 hover:text-red-600 hover:bg-white font-medium no-underline" (click)="logout()">
                <p class="m-auto">LogOut</p>
            </div>
        </div>
    </nav>
</div>
<div *ngIf="router.url !=='/' && router.url !=='/adoptions'" #spacing [ngStyle]="{'height':navbarheight}"></div>
<div class="fixed w-full bg-gradient-to-r to-blue-900 from-blue-600 bottom-0 z-50" *ngIf="user?.roles.includes('ROLE_ADMIN')">
    <div class="container mx-auto flex">
        <a class="py-3 flex mr-auto" href="/admin">
            <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zM5.68 7.1A7.96 7.96 0 0 0 4.06 11H5a1 1 0 0 1 0 2h-.94a7.95 7.95 0 0 0 1.32 3.5A9.96 9.96 0 0 1 11 14.05V9a1 1 0 0 1 2 0v5.05a9.96 9.96 0 0 1 5.62 2.45 7.95 7.95 0 0 0 1.32-3.5H19a1 1 0 0 1 0-2h.94a7.96 7.96 0 0 0-1.62-3.9l-.66.66a1 1 0 1 1-1.42-1.42l.67-.66A7.96 7.96 0 0 0 13 4.06V5a1 1 0 0 1-2 0v-.94c-1.46.18-2.8.76-3.9 1.62l.66.66a1 1 0 0 1-1.42 1.42l-.66-.67zM6.71 18a7.97 7.97 0 0 0 10.58 0 7.97 7.97 0 0 0-10.58 0z"/></svg>
            <span class="pl-2 text-white text-sm my-auto">Dashboard</span>
        </a>
        <a class="py-3 flex mx-auto" [routerLink]="['admin/adoption']">
            <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"/></svg>
            <span class="pl-2 text-white text-sm my-auto">Adoptions</span>
        </a>
        <a class="py-3 flex mx-auto" [routerLink]="['admin']">
            <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"/></svg>
            <span class="pl-2 text-white text-sm my-auto">Lost and found</span>
        </a>
        <a class="py-3 flex mx-auto" [routerLink]="['admin']">
            <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M9 12A5 5 0 1 1 9 2a5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 11a1 1 0 0 1-2 0v-2a3 3 0 0 0-3-3H7a3 3 0 0 0-3 3v2a1 1 0 0 1-2 0v-2a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v2zm1-5a1 1 0 0 1 0-2 5 5 0 0 1 5 5v2a1 1 0 0 1-2 0v-2a3 3 0 0 0-3-3zm-2-4a1 1 0 0 1 0-2 3 3 0 0 0 0-6 1 1 0 0 1 0-2 5 5 0 0 1 0 10z"/></svg>
            <span class="pl-2 text-white text-sm my-auto">Associations</span>
        </a>
        <a class="py-3 flex mx-auto" [routerLink]="['admin']">
            <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M9 12A5 5 0 1 1 9 2a5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm8 11a1 1 0 0 1-2 0v-2a3 3 0 0 0-3-3H7a3 3 0 0 0-3 3v2a1 1 0 0 1-2 0v-2a5 5 0 0 1 5-5h5a5 5 0 0 1 5 5v2zm-1.3-10.7l1.3 1.29 3.3-3.3a1 1 0 0 1 1.4 1.42l-4 4a1 1 0 0 1-1.4 0l-2-2a1 1 0 0 1 1.4-1.42z"/></svg>
            <span class="pl-2 text-white text-sm my-auto">Vétérinaires</span>
        </a>
        <a class="py-3 flex ml-auto" [routerLink]="['admin/user']">
            <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M12 12a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9 11a1 1 0 0 1-2 0v-2a3 3 0 0 0-3-3H8a3 3 0 0 0-3 3v2a1 1 0 0 1-2 0v-2a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v2z"/></svg>
            <span class="pl-2 text-white text-sm my-auto">Users</span>
        </a>
    </div>
</div>