<div class="flex relative "  >
    <img alt="gallery"  class="absolute inset-0 w-full md:w-1/3 h-full object-cover object-center rounded"
        [src]="image?.bytes ? image.bytes : 'https://via.placeholder.com/640x480?text=Image+For+found+NEW'">
    <div  [routerLink]="['/founds', found.id]"
        class="px-8 py-10 relative z-10 w-full md:w-1/3 border-1 border-gray-200 opacity-0 hover:bg-black hover:bg-opacity-50 hover:text-white hover:opacity-100">
        <div class="grid grid-cols-2 p-10 text-xs">
            <div class="font-bold">Nom :</div>
            <div>{{found?.animal.nom}}</div>
            <div class="font-bold">Sexe :</div>
            <div>{{found?.animal.sexe}}</div>
            <div class="font-bold">Espece:</div>
            <div>{{found?.animal.espece}}</div>
            <div class="font-bold">Type :</div>
            <div>{{found?.animal.type}}</div>
            <div class="font-bold">Taille :</div>
            <div>{{found?.animal.taille}}</div>
            <div class="font-bold">Age :</div>
            <div>{{found?.animal.age}}</div>
            <div class="font-bold">Couleur :</div>
            <div> {{found?.animal.couleur}} </div>
        </div>
    </div>
    <div class="md:w-1/3 px-5 py-5">
        <h2 class="tracking-widest text-sm title-font font-medium text-black mb-1 flex flex-wrap">
            <img src="assets/svg/place.svg" />
            {{found.user?.address?.ville?
            found.user?.address?.ville : 'Tunis'}}
        </h2>
        <h1 class="title-font text-lg font-medium text-black mb-3">{{found.title}}</h1>
        <p class="leading-relaxed h-32 overflow-y-auto text-black text-sm">{{found.description}}.</p>
    </div>
    
    
</div>

